@use "../helpers/index" as *;

.grid {
  --gridColums: 1;

  display: grid;
  grid-template-columns: repeat(var(--gridColums), 1fr);
  gap: 21px;
  
  @for $i from 2 through 10 {
    &--#{$i} {
      --gridColums: #{$i};
    }
  }

  &--3 {
    @include tablet {
      --gridColums: 2;
      gap: 16px;
    }

    @include mobile {
      gap: 14px 15px;
    }
  }

  &--4 {
    @include tablet {
      --gridColums: 2;
      gap: 16px;
    }

    @include mobile {
      gap: 14px 15px;
    }
  }
}